:root {
    --primary: #b1b1b1;
    --green:#51af5b;
}
.menucabecera{
    font-family: 'Montserrat';
    font-size:3em;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    color: #000;
}
.cont{
    margin: 0 auto;
}
.menu{
    font-family: 'Montserrat';
    font-size: 1em;
}
.menu-group-heading{
    margin: 0px;
    padding-bottom: 0.2em;
    border-bottom: 3px solid var(--green);
    font-size: 1.8em;
    color: var(--green);
}
.menu-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1.5em;
    padding: 1.5em 0;
    font-size: .8em;
}
.menu-item {
    display: flex;
}
.menu-item-image{
    width:125px;
    height:120px;
    flex-shrink: 0;
    object-fit: cover;
}
.menu-item-image-zanahoria{
    width:135px;
    height:150px;
    flex-shrink: 0;
    object-fit: fill;
    margin-top: -20px;

}
.menu-item-text{
    flex-grow: 1;
}
.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 1.8em;
}
.menu-item-price{
    font-size: .8em;
}
.menu-item-name {
    margin-right: 1.5em;
    font-size: .8em;
}
  
.menu-item-description {
    display: flex;
    line-height: 1.2;
    font-size: 1.3em;
    margin:10px;
    width: 32vw;
}
.footerbtn{
    color: #fff;
}
.footerbtn1{
    color: #fff;
}
.footer-container{
    background-color: #000;
    margin-left: 0px;
}
.icon{
    margin-top: 2px;
    background-color: #fff;
    border-radius: 5px;
}

@media screen and (max-width:1129px){
    .menucabecera{
        font-family: 'Montserrat';
        font-size:2em;
        margin-top: 80px;
        font-weight: 800;
        display: flex;
        justify-content: center;
        color: #000;
    }
    .cont{
        margin: 0 auto;
    }
    .menu{
        font-family: 'Montserrat';
        font-size: .7em;
        margin-top: 20px;
    }
    .menu-group-heading{
        display: flex;
        justify-content: center;
        padding-bottom: 0.2em;
        border-bottom: 3px solid var(--green);
        font-size: 1.8em;
        color: var(--green);
    }
    .menu-group{
        display: grid;
        grid-template-columns:  1fr;
        gap:1.5em;
        padding: 1.5em 0;
        font-size: .8em;
    }
    .menu-item {
        display: flex;
    }
    .menu-item-image-zanahoria{
        width:100px;
        height:130px;
        flex-shrink: 0;
        object-fit: fill;
        margin-top: -20px;
    }
    .menu-item-image{
        width:100px;
        height:100px;
        flex-shrink: 0;
        object-fit: cover;
    }
    .menu-item-text{
        flex-grow: 1;
    }
    .menu-item-heading {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        font-size: 1.8em;
    }
    .menu-item-price{
        font-size: 1em;
    }
    .menu-item-name {
        margin-right: 1.5em;
        font-size: .9em;
    }
      
    .menu-item-description {
        display: flex;
        line-height: 1.2;
        font-size: 1.5em;
        margin:10px;
        width: 50vw;
    }
    .footerbtn{
        color: #fff;
    }
    .footerbtn1{
        color: #fff;
    }
    .footer-container{
        background-color: #000;
        margin-left: 0px;
        margin-top: 1px;
    }
    .icon{
        margin-top: 2px;
        background-color: #fff;
        border-radius: 5px;
    }

}