@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Anek+Odia:wght@100;300&family=Beau+Rivage&family=Bebas+Neue&family=Charis+SIL&family=Exo:wght@200;700&family=Lobster&family=Maven+Pro&family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Noto+Serif:wght@700&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Raleway&family=Rubik:ital,wght@1,300&family=Shadows+Into+Light&family=Source+Serif+Pro:ital@1&family=Water+Brush&display=swap');
:root {
    --primary: #b1b1b1;
    --green:#51af5b;
}
.body{
  height:100vw
}
.logo{
  width: 260px;
}
.navbar{
  background-color: #000;
  width:100vw;
  position:fixed !important;
  z-index: 1;
}
.navbar a{
  font-size: 1.2em;
  font-family: 'Montserrat';
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.navbar a:hover{
    color: var(--primary);
}

.container-inicio{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 70px;
}

.veggieimg{
  width: 40%;
  height: 10%;
  margin-top: 100px;
  margin-left:70px;
}

.Textcolumn {
  width: 50%;
}
.title{
  line-height: 45px;
  margin-top: 110px;
}
.titletext{
  font-family: 'Montserrat';
  font-size: 4em;
  color: #51af5b;
  font-weight: 800;
}
.downtitletext{
  text-align: left;
  line-height: 10px;
  margin-top: 40px;
} 
.text{
  font-family: 'Montserrat';
  font-size: 1.2em;
}
.downtitletext2{
  text-align: center;
  line-height: 10px;
  margin-top: 35px;
  text-align: left;
}
.btn-outline-success{
  font-size: 1em;
  margin-top: 12px;
  font-family: 'Montserrat';
} 


.blackbg{ 
  margin-top: 30px;
  height:500px;
  background-color: #000;
  width:100vw;
}


.elegidos{
  font-family: 'Montserrat';
  font-size:3.5em;
  font-weight: 700;
  color:var(--green);
}
.cards{
  display: grid;
  width:100vw;
  grid-template-columns:230px 230px 230px 230px;
  background-color: #000;
  row-gap: 5px;
  column-gap: 25px;
  margin-left:0vw;
  justify-content: space-around;
  height: 50px;
  margin-top: 50px;
}
.card{
  height:300px;
  
}
.sorrentino{
  height:168px;
  width:200px;
  margin-left: 15px;

}
.rojos{
  height:170px;
  width:130px;
  margin-left: 55px;
}
.salmon{
  height:168px;
  width:170px;
  margin-left:32px;

}
.choco{
  margin-top: -17px;
  height:240px;
  width:160px;
  margin-left: 35px;
}
.titlecomida{
  margin-top:10px;
  font-family: 'Montserrat';
  text-align: center;
  font-weight: 600;
  font-size:1.3em;
}
.btn-success{
  font-family: 'Montserrat';
  font-size: 1.2em;
}

@media screen and (max-width: 1060px){
  .container-inicio{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 0px;
  }
  
  .veggieimg{
    width: 50%;
    margin-top: 90px;
    margin-left: 50px;
  }
  
  .Textcolumn {
    width: 50%;
    margin-left: 50px;
  }
  .title{
    line-height: 30px;
    margin-top: 95px;
  }
  .titletext{
    font-family: 'Montserrat';
    font-size: 3em;
    color: #51af5b;
    font-weight: 800;
  }
  .downtitletext{
    text-align: left;
    line-height: 10px;
    margin-top: 40px;
  } 
  .text{
    font-family: 'Montserrat';
    font-size: 1.2em;
  }
  .downtitletext2{
    text-align: center;
    line-height: 10px;
    margin-top: 35px;
    text-align: left;
  }
  .btn-outline-success{
    font-size: 1em;
    margin-top: 12px;
    font-family: 'Montserrat';
  } 
}



@media screen and (max-width: 760px){
  .logo{
    width: 200px;
  }
  .navbar-toggler{
    border-color: #1b3921;
    border-radius: 6px;
    color:#1b3921;
    background-color: #1b3921;
  }
  .container-inicio{
    display: flex;
    flex-direction: column;
  }
  .veggieimg{
    width: 80%;
    margin-left: 10vw;
    margin-top:10%;
  }
  
  .Textcolumn {
    width: 100%;
    margin-left: 0%;
    text-align: center;
  }
  .title{
    line-height: 30px;
    margin-top: 20px;
  }
  .titletext{
    font-family: 'Montserrat';
    font-size: 2.5em;
    color: #51af5b;
    font-weight: 800;
  }
  .downtitletext{
    text-align: center;
  } 
  .text{
    font-family: 'Montserrat';
    font-size: 1.2em;
  }
  .downtitletext2{
    text-align: center;
    line-height: 10px;
  }
  .btn-outline-success{
    font-size: 1em;
    margin-top: 12px;
    font-family: 'Montserrat';
  } 
  .blackbg{
    height:695px;
    background-color: #000;
    margin-top: 50px;
  }
  .elegidos{
    font-family: 'Montserrat';
    font-size:2.8em;
    font-weight: 700;
    color:var(--green);
  }
  .cards{
    display: grid;
    grid-template-columns:160px 160px;
    background-color: #000;
    row-gap: 30px;
    column-gap: 0px;
    justify-content: space-around;
    height:600px;
    margin-top: 0px;
  }
  .card{
    height:258px;
  }
  .sorrentino{
    height:140px;
    width:150px;
    margin-left: 3px;

  }
  .rojos{
    height: 150px;
    width:100px;
    margin-left: 20%;
    margin-top: 2px;
  }
  .salmon{
    height:140px;
    width:145px;
    margin-left: 6px;

  }
  .choco{
    height:180px;
    width:130px;
    margin-left: 18px;
    margin-top: -10px;
  }
  .titlecomida{
    margin-top:10px;
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 600;
    font-size:1em;
  }
  .btn-success{
    font-family: 'Montserrat';
  }
}